<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Издатель</title>
</head>
<body>
<input type="text" name="name" autocomplete="off" class="publisher-name-input" placeholder="Наименование">
<input type="text" name="phone" autocomplete="off" class="publisher-phone-input" placeholder="Телефон">
<input type="text" name="email" autocomplete="off" class="publisher-email-input" placeholder="Email">
<input type="text" name="information" autocomplete="off" class="publisher-information-input" placeholder="Информация">
<button class="add-publisher-btn">Добавить</button>

</body>
</html>