<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Издатели</title>
</head>
<body>
<h2>Издатели</h2>
<input type="text" name="name" autocomplete="off" class="publisher-name-input" placeholder="Наименование">
<input type="text" name="phone" autocomplete="off" class="publisher-phone-input" placeholder="Телефон">
<input type="text" name="email" autocomplete="off" class="publisher-email-input" placeholder="Email">
<input type="text" name="information" autocomplete="off" class="publisher-information-input" placeholder="Информация">
<button class="add-publisher-btn">Добавить</button>
<table>
    <thead>
    <tr>
        <th>Наименование</th>
        <th>Телефон</th>
        <th>Email</th>
        <th>Краткая информация</th>
    </tr>
    </thead>
    <tbody id="publisher-table"></tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/static/js/indexx.js"></script>
</body>
</html>