<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <title>Update Publisher</title>
</head>
<body class="container">
<h1>Измение издателя</h1>
<form th:action="@{/publishers/{id}(id=${publisher.id})}" th:object="${newPublisher}" th:method="put" class="col card p-3 my-5">
    <div>
        <label>Название:</label><br>
        <input class="form-control" type="text" name="name" th:value="${publisher.name}" />
    </div>
    <div>
        <label>Информация:</label><br>
        <input class="form-control" type="text" name="information" th:value="${publisher.information}" />
    </div>
    <div>
        <label>Email:</label><br>
        <input class="form-control" type="text" name="email" th:value="${publisher.email}" />
    </div>
    <div>
        <label>Телефон:</label><br>
        <input class="form-control" type="text" name="phone" th:value="${publisher.phone}" />
    </div><br>
    <div class="col-xs-offset-2 col-xs-10">
        <button type="submit" class="btn btn-success">Изменить</button>
    </div>
</form>
</body>
</html>